## Topics

With this notebook, we obtain the ids for relevant topics we later use to download Google Trends.

In [66]:
from pytrends.request import TrendReq
import numpy as np
import pandas as pd
import time

headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/112.0',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Referer': 'https://trends.google.com/',
    'Alt-Used': 'trends.google.com',
    'Connection': 'keep-alive',
    # 'Cookie': '__utma=10102256.699944976.1681467038.1683327769.1683363479.30; __utmz=10102256.1683363479.30.23.utmcsr=trends.google.com|utmccn=(referral)|utmcmd=referral|utmcct=/; __utmc=10102256; NID=511=GaXIe0Lwd1l8RAGkA2geWNynqviDUhjPBcVgHksJdTnugCvKuUPbm_bM-mT7DhT2jrBHT00aCt71oY7fZhydICB-HNWUzrDnonyPyOGmPTA75lOvpTiguXi3KiGJtRjK3BBH3e1ZcqQ_ywcsU5vHoxJFtH9HGhcLdOt7CL7AWKx8Jj9VSOI3cCwmjDl8gbj2PZ75BU_W4NqspBRMktcdhRitXCyOIqMdLMwZfSOOvFmRBTOJKg8M7UkUTwAVhXtxsKVlHfxPpiWx8HQ63Vr5SV_8qW9f4J0f8EbXWiofQLqpPKJzo0CMbyM-EcnRlR4YVqptEli6EgemOBUJAgH8951i7ANgVDSWy-vn3zXA5KPR5l0LtkriirFZPvsNAmV-_-Mtyuf6gYu8eYJL3g; CONSENT=PENDING+639; SID=WAjkbwUHGFuugy4Yy2rq46Op5ZjRIMvPaLQIAltzHSM35MU0x7YgYongisCrn5htv3RhAw.; __Secure-1PSID=WAjkbwUHGFuugy4Yy2rq46Op5ZjRIMvPaLQIAltzHSM35MU0YH1nUovIFt-jaEUUCx_SIQ.; __Secure-3PSID=WAjkbwUHGFuugy4Yy2rq46Op5ZjRIMvPaLQIAltzHSM35MU0Z8qXUg1LhjB4DtBZWFfNQg.; HSID=A8QJObb1Ve4vQOXFw; SSID=AJr3GRs7Jf_ctBT41; APISID=rNTBsHwZF0AVrKao/AoTWce3Qv8CyFykEc; SAPISID=vftmcyrgIFqWdYpV/AHlhj91rgxiQPlOq8; __Secure-1PAPISID=vftmcyrgIFqWdYpV/AHlhj91rgxiQPlOq8; __Secure-3PAPISID=vftmcyrgIFqWdYpV/AHlhj91rgxiQPlOq8; SIDCC=AP8dLtyjVDmjXvg3rEmTwoLfGyXkY0SDrIFQWqi1z9D1QOL5voioH1Uti_ANGJkiQCuzVd4Axww; __Secure-1PSIDCC=AP8dLtxxVvSKM2MgLGepw_20VZbYsJHar-zF5kvDajRKezVqui3YqxWUaT1e6meVcR9HTUP4lgo; __Secure-3PSIDCC=AP8dLtyyI8BLnakxZZ2OFmPTDfYzPW8jo13jnE34rpPuptgnFDFq-aKX5vfcZdtRDLLZswyAl3gv; 1P_JAR=2023-5-6-12; SOCS=CAISHAgCEhJnd3NfMjAyMjEwMDQtMF9SQzMaAmVuIAEaBgiAwY2aBg; AEC=AUEFqZchyarTzQblW5K5GOTGtYARrs8luJGdx84JVmSwETHSFqijMgs9FA; _ga_VWZPXDNJJB=GS1.1.1683458025.38.1.1683458061.0.0.0; _ga=GA1.3.699944976.1681467038; OTZ=6986051_48_52_123900_48_436380; ADS_VISITOR_ID=00000000-0000-0000-0000-000000000000/112727363205027642159; S=billing-ui-v3=wWfIrmncuOn4LfU6DArDU3LLPpCDgsAT:billing-ui-v3-efe=wWfIrmncuOn4LfU6DArDU3LLPpCDgsAT; __Secure-1PSIDTS=sidts-CjIBLFra0jgJEQyM4EqRZoyaN18X_Umt8M6GTvixMw1pDB_sj5P5XvQokN5dkVw1R2qAkRAA; __Secure-3PSIDTS=sidts-CjIBLFra0jgJEQyM4EqRZoyaN18X_Umt8M6GTvixMw1pDB_sj5P5XvQokN5dkVw1R2qAkRAA; _gid=GA1.3.1220682113.1683458025; _gat_gtag_UA_4401283=1',
    'Upgrade-Insecure-Requests': '1',
    'Sec-Fetch-Dest': 'document',
    'Sec-Fetch-Mode': 'navigate',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-User': '?1',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}
pytrends = TrendReq(hl='en-US', tz=360, requests_args={'headers': headers})
# pytrends = TrendReq(hl='en-US', tz=360)

def topics_request(word, pytrends = pytrends):
    
    pytrends.build_payload(kw_list=[word])
    topics = pytrends.related_topics()
    
    return topics[word]['top']

In [5]:
keywords = pd.read_csv('google topics.csv')

In [12]:
topics = topics_request(keywords.keyword[0:5].tolist(), pytrends)

In [36]:
topics = []
for keyword in keywords.keyword[7:]:
    pytrends.build_payload([keyword])
    topics.append(pytrends.related_topics()[keyword]['top'].topic_mid[0])

Get topics for countries:

In [2]:
countries = pd.read_csv('../../data/clean/unhcr.csv', engine='pyarrow').drop_duplicates('iso_d').Country_d

In [73]:
country_topic_id = pd.DataFrame()
for country in countries:
    try: 
        related_topics = topics_request(country)
    except:
        pass
    first_country = related_topics[related_topics.topic_type.str.contains('Country')].iloc[0]
    first_country['search'] = country
    country_topic_id = pd.concat([country_topic_id, first_country[['search','topic_title','topic_type','topic_mid']].to_frame().T], axis=0)

In [91]:
country_topic_id['incorrect'] = country_topic_id.search != country_topic_id.topic_title
print(country_topic_id.to_csv(index=False))

search,topic_title,topic_type,topic_mid,incorrect
Albania,Albania,Country in the Balkans,/m/0jdx,False
Algeria,Algeria,Country in North Africa,/m/0h3y,False
Andorra,Andorra,Country in Europe,/m/0hg5,False
Angola,Angola,Country in Central Africa,/m/0j4b,False
Antigua and Barbuda,Antigua and Barbuda,Country in the Caribbean,/m/0l3h,False
Argentina,Argentina,Country in South America,/m/0jgd,False
Armenia,Armenia,Country in Asia,/m/0jgx,False
Aruba,Aruba,Country,/m/0j11,False
Australia,Australia,Country in Oceania,/m/0chghy,False
Austria,Austria,Country in Europe,/m/0h7x,False
Azerbaijan,Armenia,Country in Asia,/m/0jgx,True
The Bahamas,The Bahamas,Country in the Caribbean,/m/0160w,False
Bahrain,Saudi Arabia,Country in the Middle East,/m/01z215,True
Bangladesh,Bangladesh,Country in South Asia,/m/0162b,False
Barbados,Barbados,Country in the Caribbean,/m/0162v,False
Belarus,Belarus,Country in Europe,/m/0163v,False
Belgium,Belgium,Country in Europe,/m/0154j,False
Belize,Belize,Country in Central America,/m/0164b,False
Benin,Benin,Country in West Africa,/m/0164v,False
Bhutan,Bhutan,Country in South Asia,/m/07bxhl,False
Bolivia,Bolivia,Country in South America,/m/0165v,False
Bosnia and Herzegovina,Bosnia and Herzegovina,Country in the Balkans,/m/0166b,False
Botswana,Botswana,Country in Southern Africa,/m/0166v,False
Brazil,Brazil,Country in South America,/m/015fr,False
Brunei Darussalam,Brunei,Country in Asia,/m/0167v,True
Bulgaria,Bulgaria,Country in the Balkans,/m/015qh,False
Burkina Faso,Burkina Faso,Country in West Africa,/m/01699,False
Burundi,Burundi,Country in East Africa,/m/0169t,False
Cabo Verde,Cabo Verde,Country in Africa,/m/01nqj,False
Cambodia,Cambodia,Country in Asia,/m/01xbgx,False
Cameroon,Cameroon,Country in Central Africa,/m/01nln,False
Canada,Canada,Country in North America,/m/0d060g,False
Central African Republic,Central African Republic,Country in Central Africa,/m/01nyl,False
Chad,Chad,Country in Central Africa,/m/01p1b,False
Chile,Chile,Country in South America,/m/01p1v,False
China,China,Country in East Asia,/m/0d05w3,False
Colombia,Colombia,Country in South America,/m/01ls2,False
Comoros,Comoros,Country in East Africa,/m/01n6c,False
Democratic Republic of the Congo,Democratic Republic of the Congo,Country in Central Africa,/m/088xp,False
Republic of Congo,Democratic Republic of the Congo,Country in Central Africa,/m/088xp,True
Costa Rica,Costa Rica,Country in Central America,/m/01p8s,False
Côte d'Ivoire,Costa Rica,Country in Central America,/m/01p8s,True
Croatia,Croatia,Country in the Balkans,/m/01pj7,False
Cyprus,Cyprus,Country in the Middle East,/m/01ppq,False
Czech Republic,Czechia,Country in Europe,/m/01mjq,True
Denmark,Denmark,Country in Europe,/g/121p5z1h,False
Djibouti,Djibouti,Country in East Africa,/m/027jk,False
Dominica,Dominica,Country in the Caribbean,/m/027nb,False
Dominican Republic,Haiti,Country in the Caribbean,/m/03gyl,True
Ecuador,Ecuador,Country in South America,/m/02k1b,False
Egypt,Egypt,Country,/m/02k54,False
El Salvador,El Salvador,Country in Central America,/m/02k8k,False
Equatorial Guinea,Equatorial Guinea,Country in Central Africa,/m/02kcz,False
Eritrea,Eritrea,Country in East Africa,/m/02khs,False
Estonia,Estonia,Country in Europe,/m/02kmm,False
Eswatini,Eswatini,Country in Southern Africa,/m/06v36,False
Ethiopia,Ethiopia,Country in East Africa,/m/019pcs,False
Fiji,Fiji,Country in Oceania,/m/02wt0,False
Finland,Finland,Country in Europe,/m/02vzc,False
France,France,Country in Europe,/m/0f8l9c,False
Gabon,Gabon,Country in Central Africa,/m/03548,False
The Gambia,The Gambia,Country in West Africa,/m/0hdx8,False
Georgia,Georgia,Country,/m/0d0kn,False
Germany,Germany,Country in Europe,/m/0345h,False
Ghana,Ghana,Country in West Africa,/m/035dk,False
Greece,Greece,Country in the Balkans,/m/035qy,False
Grenada,Grenada,Country in the Caribbean,/m/035yg,False
Guatemala,Guatemala,Country in Central America,/m/0345_,False
Guinea,Papua New Guinea,Country in Oceania,/m/05qkp,True
Guinea-Bissau,Guinea-Bissau,Country in West Africa,/m/036b_,False
Guyana,Guyana,Country in South America,/m/034m8,False
Haiti,Haiti,Country in the Caribbean,/m/03gyl,False
Honduras,Honduras,Country in Central America,/m/03h2c,False
Hong Kong SAR,China,Country in East Asia,/m/0d05w3,True
Hungary,Hungary,Country in Europe,/m/03gj2,False
Iceland,Iceland,Country in Europe,/m/03rj0,False
India,India,Country in South Asia,/m/03rk0,False
Indonesia,Indonesia,Country in Asia,/m/03ryn,False
Islamic Republic of Iran,Iran,Country in the Middle East,/m/03shp,True
Iraq,Iran,Country in the Middle East,/m/03shp,True
Ireland,Ireland,Country in Europe,/m/03rt9,False
Israel,Israel,Country in the Middle East,/m/03spz,False
Italy,Italy,Country in Europe,/m/03rjj,False
Jamaica,Jamaica,Country in the Caribbean,/m/03_r3,False
Japan,Japan,Country in East Asia,/m/03_3d,False
Jordan,Jordan,Country in the Middle East,/m/03__y,False
Kazakhstan,Kazakhstan,Country in Central Asia,/m/047lj,False
Kenya,Kenya,Country in East Africa,/m/019rg5,False
Kiribati,Kiribati,Country in Oceania,/m/047t_,False
Korea,South Korea,Country in East Asia,/m/06qd3,True
Kosovo,Serbia,Country in the Balkans,/m/077qn,True
Kuwait,Kuwait,Country in the Middle East,/m/047yc,False
Kyrgyz Republic,Kyrgyzstan,Country in Central Asia,/m/0jt3tjf,True
Lao P.D.R.,Laos,Country in Asia,/m/04hhv,True
Latvia,Latvia,Country in Europe,/m/04g5k,False
Lebanon,Lebanon,Country in the Middle East,/m/04hqz,False
Lesotho,Lesotho,Country in Southern Africa,/m/04hvw,False
Liberia,Liberia,Country in West Africa,/m/04hzj,False
Libya,Libya,Country in North Africa,/m/04gqr,False
Lithuania,Lithuania,Country in Europe,/m/04gzd,False
Luxembourg,Luxembourg,Country in Europe,/m/04g61,False
Macao SAR,China,Country in East Asia,/m/0d05w3,True
Madagascar,Madagascar,Country in East Africa,/m/04sj3,False
Malawi,Malawi,Country in East Africa,/m/04tr1,False
Malaysia,Malaysia,Country in Asia,/m/09pmkv,False
Maldives,Maldives,Country in South Asia,/m/04ty8,False
Mali,Mali,Country in West Africa,/m/04v09,False
Malta,Malta,Country in Europe,/m/04v3q,False
Marshall Islands,United States,Country in North America,/m/09c7w0,True
Mauritania,Mauritania,Country in Africa,/m/04vjh,False
Mauritius,Mauritius,Country in East Africa,/m/04vs9,False
Mexico,Mexico,Country in North America,/m/0b90_r,False
Micronesia,Micronesia,Country in Oceania,/m/03188,False
Moldova,Moldova,Country in Europe,/m/04w4s,False
Mongolia,Mongolia,Country in East Asia,/m/04w8f,False
Montenegro,Montenegro,Country in the Balkans,/m/056vv,False
Morocco,Morocco,Country in North Africa,/m/04wgh,False
Mozambique,Mozambique,Country in East Africa,/m/04wlh,False
Myanmar,Myanmar (Burma),Country in Asia,/m/04xn_,True
Namibia,Namibia,Country in Southern Africa,/m/05bmq,False
Nauru,Nauru,Country in Oceania,/m/05br2,False
Nepal,Nepal,Country in South Asia,/m/016zwt,False
Netherlands,Netherlands,Country in Europe,/m/059j2,False
New Zealand,New Zealand,Country in Oceania,/m/0ctw_b,False
Nicaragua,Nicaragua,Country in Central America,/m/05c74,False
Niger,Niger,Country in West Africa,/m/05cc1,False
Nigeria,Nigeria,Country in West Africa,/m/05cgv,False
North Macedonia,North Macedonia,Country in the Balkans,/m/0bjv6,False
Norway,Norway,Country in Europe,/m/05b4w,False
Oman,Oman,Country in the Middle East,/m/05l8y,False
Pakistan,Pakistan,Country in South Asia,/m/05sb1,False
Palau,Palau,Country in Oceania,/m/05tr7,False
Panama,Panama,Country in Central America,/m/05qx1,False
Papua New Guinea,Papua New Guinea,Country in Oceania,/m/05qkp,False
Paraguay,Paraguay,Country in South America,/m/05v10,False
Peru,Peru,Country in South America,/m/016wzw,False
Philippines,Philippines,Country in Asia,/m/05v8c,False
Poland,Poland,Country in Europe,/m/05qhw,False
Portugal,Portugal,Country,/m/05r4w,False
Puerto Rico,Dominican Republic,Country in the Caribbean,/m/027rn,True
Qatar,Qatar,Country in the Middle East,/m/0697s,False
Romania,Romania,Country in the Balkans,/m/06c1y,False
Russia,Russia,Country,/m/06bnz,False
Rwanda,Rwanda,Country in East Africa,/m/06dfg,False
Samoa,Samoa,Country in Oceania,/m/06s9y,False
San Marino,San Marino,Country in Europe,/m/06sff,False
São Tomé and Príncipe,São Tomé and Príncipe,Country in Central Africa,/m/0j681,False
Saudi Arabia,Saudi Arabia,Country in the Middle East,/m/01z215,False
Senegal,Senegal,Country in West Africa,/m/06srk,False
Serbia,Serbia,Country in the Balkans,/m/077qn,False
Seychelles,Seychelles,Country in East Africa,/m/06sw9,False
Sierra Leone,Nigeria,Country in West Africa,/m/05cgv,True
Singapore,Singapore,Country in Asia,/m/06t2t,False
Slovak Republic,Slovakia,Country in Europe,/m/06npd,True
Slovenia,Slovenia,Country in the Balkans,/m/06t8v,False
Solomon Islands,Solomon Islands,Country in Oceania,/m/01n8qg,False
Somalia,Somalia,Country in East Africa,/m/06tgw,False
South Africa,South Africa,Country in Southern Africa,/m/0hzlz,False
South Sudan,South Sudan,Country in North Africa,/m/05rznz,False
Spain,Spain,Country,/m/06mkj,False
Sri Lanka,Sri Lanka,Country in South Asia,/m/06m_5,False
St. Kitts and Nevis,Saint Kitts and Nevis,Country in the Caribbean,/m/06ryl,True
St. Lucia,Saint Lucia,Country in the Caribbean,/m/06s0l,True
St. Vincent and the Grenadines,Saint Vincent and the Grenadines,Country in the Caribbean,/m/06s6l,True
Sudan,Sudan,Country in North Africa,/m/06tw8,False
Suriname,Suriname,Country in South America,/m/06nnj,False
Sweden,Sweden,Country in Europe,/m/0d0vqn,False
Switzerland,Switzerland,Country in Europe,/m/06mzp,False
Syria,Syria,Country in the Middle East,/m/06vbd,False
Taiwan Province of China,China,Country in East Asia,/m/0d05w3,True
Tajikistan,Tajikistan,Country in Central Asia,/m/07dvs,False
Tanzania,Tanzania,Country in East Africa,/m/07dzf,False
Thailand,Thailand,Country in Asia,/m/07f1x,False
Timor-Leste,Timor-Leste,Country in Asia,/m/02lx0,False
Togo,Togo,Country in West Africa,/m/07f5x,False
Tonga,Tonga,Country in Oceania,/m/07fb6,False
Trinidad and Tobago,Trinidad and Tobago,Country in the Caribbean,/m/09lxtg,False
Tunisia,Tunisia,Country in North Africa,/m/07fj_,False
Türkiye,Türkiye,Country in the Middle East,/m/01znc_,False
Turkmenistan,Turkmenistan,Country in Central Asia,/m/01c4pv,False
Tuvalu,Tuvalu,Country in Oceania,/m/07fsv,False
Uganda,Uganda,Country in East Africa,/m/07tp2,False
Ukraine,Russia,Country,/m/06bnz,True
United Arab Emirates,United Arab Emirates,Country in the Middle East,/m/0j1z8,False
United Kingdom,United Kingdom,Country in Europe,/m/07ssc,False
United States,United States,Country in North America,/m/09c7w0,False
Uruguay,Uruguay,Country in South America,/m/07twz,False
Uzbekistan,Uzbekistan,Country in Central Asia,/m/07t_x,False
Vanuatu,Vanuatu,Country in Oceania,/m/07z5n,False
Venezuela,Venezuela,Country in South America,/m/07ylj,False
Vietnam,Vietnam,Country in Asia,/m/01crd5,False
West Bank and Gaza,Israel,Country in the Middle East,/m/03spz,True
Yemen,Yemen,Country in the Middle East,/m/01z88t,False
Zambia,Zambia,Country in Africa,/m/088vb,False
Zimbabwe,Zimbabwe,Country in Africa,/m/088q4,False
Afghanistan,Afghanistan,Country,/m/0jdd,False

This gives us the majority that are correct, but we need to get some manually.

In [102]:
incorrect = country_topic_id[country_topic_id.incorrect == True]

In [122]:
index = 25
related_topics = topics_request('San-Pedro')
print(incorrect.iloc[index].search)
related_topics[['topic_title','topic_type','topic_mid']].head()

Ukraine

     topic_title              topic_type  topic_mid
0      San-Pedro   City in Côte d’Ivoire  /m/056krd
1  Côte d'Ivoire  Country in West Africa   /m/0fv4v
2        Abidjan   City in Côte d’Ivoire   /m/0fmyd
3       Distance                   Topic   /m/09t22
4           Dice                   Topic   /m/029b3

### Get topics for cities
I obtain the data from [here](https://public.opendatasoft.com/explore/dataset/geonames-all-cities-with-a-population-1000/table/?disjunctive.cou_name_en&sort=name)

In [306]:
largest_cities = pd.read_csv('geonames-all-cities-with-a-population-1000.csv', sep=';', engine='pyarrow').sort_values(by='Population', ascending=False).groupby('Country Code').head(2)
largest_cities3 = pd.read_csv('geonames-all-cities-with-a-population-1000.csv', sep=';', engine='pyarrow').sort_values(by='Population', ascending=False).groupby('Country Code').head(3)

In [307]:
import country_converter as coco
iso_2 = coco.convert(countries, to='iso2')
iso_2_dict = dict(zip(countries, iso_2))

largest_cities = largest_cities[largest_cities['Country Code'].isin(iso_2)]
largest_cities3 = largest_cities3[largest_cities3['Country Code'].isin(iso_2)]

In [249]:
city_topic_id = pd.DataFrame()
missed = []
for city in largest_cities['Name']:
    try: 
        related_topics = topics_request(city)
        first_city = related_topics[related_topics.topic_type.str.contains('City|Capital|Municipality')].iloc[0]
        first_city['search_keyword'] = city
        city_topic_id = pd.concat([city_topic_id, first_city[['search_keyword','topic_title','topic_type','topic_mid']].to_frame().T], axis=0)
    except:
        missed.append(city)

In [419]:
len(missed)

30

In [282]:
city_topic_id.reset_index(drop=True, inplace=True)
city_topic_id['incorrect'] = city_topic_id.search_keyword != city_topic_id.topic_title
city_topic_id['search_country'] = city_topic_id.reset_index(drop=True).merge(largest_cities[['Name','Country name EN']], how='left',left_on='search_keyword',right_on='Name')['Country name EN']
city_topic_id = city_topic_id[['search_country','search_keyword','topic_title','topic_type','topic_mid','incorrect']]

In [283]:
city_topic_id[city_topic_id.topic_title != city_topic_id.search_keyword]

,search_country,search_keyword,topic_title,topic_type,topic_mid,incorrect
3,Turkey,Istanbul,İstanbul,City in Turkey,/m/09949m,True
15,United States,New York City,New York,City in New York State,/m/02_286,True
19,"Taiwan, China",Taipei,Taipei City,Capital of Taiwan,/m/0ftkx,True
28,Singapore,Singapore,Sydney,City in Australia,/m/06y57,True
39,Myanmar,Yangon,Bangkok,Capital of Thailand,/m/0fn2g,True
...,...,...,...,...,...,...
352,Samoa,Asau,Asău,City in Romania,/g/1q6jc4dkj,True
353,San Marino,Borgo Maggiore,Bologna,City in Italy,/m/096g3,True
355,Seychelles,Anse Boileau,Victoria,Capital of the Seychelles,/m/031jnn,True
359,Saint Kitts and Nevis,Fig Tree,Protaras,Municipality in Cyprus,/m/0jl12m5,True
360,Sao Tome and Principe,Santo António,Vila Real de Santo António,City in Portugal,/m/06z3dj,True

In [470]:
topics_request('Port-au-Prince')[['topic_title','topic_type','topic_mid']]

,topic_title,topic_type,topic_mid
0,Port-au-Prince,Capital of Haiti,/m/0fs1v
1,Haiti,Country in the Caribbean,/m/03gyl
2,Radio Television Caraibes,Radio station,/m/0bbtpg9
3,Flight,Topic,/m/01515d
4,Live television,TV category,/m/02mzct
5,Université de PauP,Higher educational institution in Port-au-Prin...,/g/11g8btz6kb
6,Capital,Topic,/m/018sd8
7,Earthquake,Disaster type,/m/02r97
8,Postal code,Topic,/m/0dll7
9,Airport,Topic,/m/09cjl
10,Radio,Topic,/m/06bz3
11,Dice,Topic,/m/029b3
12,Radio Lumière,Radio station,/g/11by_fmn_6
13,Airplane,Mode of transport,/m/05czz6l
14,Cap-Haitien,Commune in Haiti,/m/02cn5j
15,Radio Kiskeya,Radio station,/g/11by_h46ml
16,Airline,Topic,/m/0vg8
17,Les Cayes,Commune in Haiti,/m/09dbn0
18,Sunrise Airways,Airline,/m/0gfh8n_
19,Radio Voix de l'Espérance,"Radio broadcaster in Carrefour, Haiti",/g/1tff42b5
20,Bank of the Republic of Haiti,Central bank,/m/026zd1m
21,Postcodes in Haiti,Topic,/g/11clw79qmc

In [417]:
city_topic_id[city_topic_id['search_country'] == 'Sao Tome and Principe']

,search_country,search_keyword,topic_title,topic_type,topic_mid,incorrect
312,Sao Tome and Principe,São Tomé,São Thomé das Letras,Municipality in Brazil,/m/0dpct8,True
360,Sao Tome and Principe,Santo António,Vila Real de Santo António,City in Portugal,/m/06z3dj,True

In [471]:
largest_cities3[largest_cities3['Country name EN'] ==  'Belarus']

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,Coordinates
67154,625144,Minsk,Minsk,"MSQ,Mins'k,Minsc,Minscum,Minsk,Minsk - Minsk,M...",P,PPLC,BY,Belarus,,04,,,,1742124,NaN,222,Europe/Minsk,2022-05-05,Belarus,"53.9, 27.56667"
136426,627907,Homyel',Homyel',"GME,Gomel,Gomel',Gomela,Gomelis,Gomel’,Gomeļa,...",P,PPLA,BY,Belarus,,02,,,,526872,NaN,138,Europe/Minsk,2023-02-17,Belarus,"52.4345, 30.9754"
110085,627904,Hrodna,Hrodna,"GNA,Gardinas,Goradnia,Grodna,Grodno,Grodņa,Hro...",P,PPLA,BY,Belarus,,03,,,,373547,NaN,139,Europe/Minsk,2023-02-17,Belarus,"53.6884, 23.8258"

In [438]:
cities[cities.Name.isin(missed) & (cities.Population > 50000)][['Country name EN','Name', 'Population']]

                     Country name EN                  Name  Population
18702               Hong Kong, China               Kowloon     2303100
19427       Central African Republic                 Bimbo      129655
28040                        Lebanon           Ra’s Bayrūt     1251739
40075                         Angola           N’dalatando      383100
40829                   Sierra Leone                    Bo      174354
52999                           Chad             N'Djamena      721081
56890                     Costa Rica                 Limón       63081
73038                         Kuwait             Al Aḩmadī      637411
82099               Hong Kong, China             Hong Kong     7482500
87220                           Iraq  Al Mawşil al Jadīdah     2065597
99186                       Maldives                  Male      103693
99874                        Bahrain              Ar Rifā‘      195606
103023                       Eritrea                 Keren       74800
106124                      Djibouti           'Ali Sabieh       55000
121824                         Haiti             Carrefour      442156
124922                         Qatar             Ar Rayyān      272465
134876                   Afghanistan                 Herāt      574300
135703  South Sudan, The Republic of               Winejok      300000
136426                       Belarus               Homyel'      526872
138647                         Haiti        Port-au-Prince     1234742

## Country Borders

Got the data from [here](https://public.opendatasoft.com/explore/dataset/world-administrative-boundaries/export/)

In [3]:
import country_converter as coco
import pandas as pd
coordinates = pd.read_json('world-administrative-boundaries.json').rename({'iso3':'country_code'}, axis=1)
cities = pd.read_csv('geonames-all-cities-with-a-population-1000.csv', sep=';', engine='pyarrow')
cities = cities[cities.Population > 200000]
cities['country_code'] = coco.convert(cities['Country Code'], to='iso3' )

# Function to convert a string to a tuple of coordinates
def convert_to_tuple(coordinates_str):
    latitude, longitude = coordinates_str.split(',')
    return (float(latitude), float(longitude))

# Apply the function to the series
cities['Coordinates'] = cities['Coordinates'].apply(convert_to_tuple)

In [125]:
countries.reset_index(drop=True)[countries.reset_index(drop=True).str.contains( 'Canada')]

31    Canada
Name: Country_d, dtype: object

In [4]:
from tqdm import tqdm
import json
from border_functions import *

bordering_country_cities = dict()
for country in tqdm(countries.tolist()):
    contigs = contiguous_countries(country)
    bordering_cities = dict()
    for contig in contigs:
        closest_cities = find_closest_cities(country,contig,coordinates, cities,2, full_names=True)
        if closest_cities is not None:
            bordering_cities.update({contig: closest_cities['ASCII Name'].to_list()})
    bordering_country_cities.update({country:bordering_cities})

with open('bordering_countries_bordering_cities.json', 'w') as fp:
    json.dump(bordering_country_cities, fp)

100%|██████████| 196/196 [1:35:21<00:00, 29.19s/it]

In [5]:
import json
with open('bordering_countries_bordering_cities.json') as json_file:
    bordering_country_cities = json.load(json_file)

Let's convert this to a set, in the case of duplicate cities.

In [6]:
a_list = []
for val in bordering_country_cities.values():
    for key, value in val.items():
        for val_ in value:
            a_list.append(( key, val_) )

bordering_city_set = set(a_list)

In [130]:
bordering_country_cities['France']

{'Belgium': ['Charleroi', 'Gent'],
 'Germany': ['Karlsruhe', 'Freiburg'],
 'Italy': ['Turin', 'Genoa'],
 'Spain': ['Pamplona', 'Terrassa'],
 'Switzerland': ['Zurich']}

In [9]:
import pandas as pd
from tqdm import tqdm

neighboring_city_topic_id = pd.DataFrame()
missed = []

neighboring_cities_list = list(bordering_city_set)
main_cities = pd.read_csv('topic_ids/city_topic_id.csv')
max_retries = 3

for city_tuple in tqdm(neighboring_cities_list):
    error_count = 0

    while error_count < max_retries:
        if city_tuple[1] in main_cities.search_keyword:
            break
        try:
            if error_count == 2:
                search_keyword = (city_tuple[1] + ' ' + city_tuple[0]).replace("'", ' ')
            elif error_count > 2:
                missed.append(city_tuple)
                print(city_tuple)
                break
            else:
                search_keyword = city_tuple[1]
            
            related_topics = topics_request(search_keyword)
            first_city = related_topics[related_topics.topic_type.str.contains('City|Capital|Municipality|Town')].iloc[0]
            
            # if city name doesn't equal it and the country isn't the same, say it was missed
            if (first_city.topic_title != search_keyword) & (city_tuple[0] not in first_city.topic_type):
                Exception
            first_city['search_keyword'] = city_tuple[1]
            neighboring_city_topic_id = pd.concat([neighboring_city_topic_id, first_city[['search_keyword', 'topic_title', 'topic_type', 'topic_mid']].to_frame().T], axis=0)
            break  # Exit the while loop if successful
        
        except Exception as e:
            error_count += 1
            time.sleep(60)
            continue

100%|██████████| 550/550 [6:09:49<00:00, 40.34s/it]

In [ ]:
neighboring_city_topic_id['search_country'] = neighboring_countries.iloc[[neighboring_cities.tolist().index(city) for city in neighboring_city_topic_id.search_keyword]].values

In [113]:
neighboring_cities = pd.Series([t[-1] for t in neighboring_cities_list])
neighboring_countries = pd.Series([t[0] for t in neighboring_cities_list])

pd.concat([neighboring_countries[~neighboring_cities.isin(neighboring_city_topic_id.search_keyword)], neighboring_cities[~neighboring_cities.isin(neighboring_city_topic_id.search_keyword)]], axis=1)

                                    0                       1
21                              Egypt          Kafr ad Dawwar
26                             Israel        Rishon LeTsiyyon
61                         Uzbekistan                  Qo'qon
75                              China                    Bole
91                               Iraq    Al Basrah al Qadimah
133                          Ethiopia                 Mek'ele
157                            Russia            Arkhangel'sk
177                           Lebanon             Ra's Bayrut
194                      Saudi Arabia                   Ha'il
196  Democratic Republic of the Congo                  Masina
199                           Belarus                 Homyel'
255                       South Sudan                 Winejok
342                             China                Huocheng
343                     Hong Kong SAR                 Fanling
426          Islamic Republic of Iran                   Bukan
435                           Myanmar  Kyain Seikgyi Township
458          Islamic Republic of Iran                 Zahedan
465                            Russia      Vasyl'evsky Ostrov
491                            Russia       Khabarovsk Vtoroy
498                            Israel                 Netanya
507                         Singapore               Singapore
517                     Hong Kong SAR            Tin Shui Wai
519                         Singapore               Woodlands
524                             China         Longling County
543                            Angola             N'dalatando
548                              Iraq    Al Mawsil al Jadidah

In [40]:
neighboring_city_topic_id[neighboring_city_topic_id.search_keyword != neighboring_city_topic_id.topic_title]

,search_keyword,topic_title,topic_type,topic_mid,search_country
0,Comilla,Cumilla,City in Bangladesh,/m/02rr531,Bangladesh
3,Tampere,Helsinki,Capital of Finland,/m/03khn,Finland
0,Foz do Iguacu,Foz do Iguaçu,City in Brazil,/m/0442yh,Brazil
0,Singa,Sinjah,Town in Sudan,/m/0ngt6v8,Sudan
19,Yei,Pretoria,Capital of South Africa,/m/067z4,South Sudan
...,...,...,...,...,...
0,Freiburg,Freiburg im Breisgau,City in Germany,/m/0ptj2,Germany
4,Libreville,Paris,Capital of France,/m/05qtj,Gabon
4,Hargeysa,Mogadishu,Capital of Somalia,/m/0gclb,Somalia
1,Timisoara,Bucharest,Capital of Romania,/m/096gm,Romania
2,Russeifa,Amman,Capital of Jordan,/m/0c7zf,Jordan

In [45]:
neighboring_city_topic_id['check1'] = neighboring_city_topic_id.search_keyword != neighboring_city_topic_id.topic_title
neighboring_city_topic_id['check2'] = neighboring_city_topic_id.apply(lambda row: row['search_country'] in row['topic_type'], axis=1)

In [51]:
neighboring_city_topic_id[['search_country','search_keyword','topic_title','topic_type','topic_mid','check1','check2']].to_csv('topic_ids/neighboring_city_topic_id.csv', index=False)

In [125]:
topics_request('Huocheng')[['topic_title','topic_type','topic_mid']]

  topic_title            topic_type  topic_mid
0    Xinjiang       Region in China   /m/0jbn5
1       China  Country in East Asia  /m/0d05w3

In [35]:
dict_df = pd.DataFrame.from_dict(bordering_country_cities)

In [38]:
dict_df.columns[dict_df.apply(lambda column: 'Boston' in column.values, axis=0)]

/var/folders/hs/1r2tlf751_l1nl8n9l2_wtpw0000gn/T/ipykernel_29673/3912869195.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  dict_df.columns[dict_df.apply(lambda column: 'Boston' in column.values, axis=0)]

Index([], dtype='object')

In [52]:
dict_df.to_csv('dict_df.csv')

In [132]:
cities_test = pd.read_csv('geonames-all-cities-with-a-population-1000.csv', sep=';', engine='pyarrow')
cities_test[cities_test['Country name EN'].str.contains('South Sudan')].__len__()

23